body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background: url('bg1.png') no-repeat center center fixed;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

@media (max-width: 400px) {
    body {
        background-size: 100% 100%; 
        background-attachment: scroll; 
    }
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 8px;
    text-align: center;
}

header {
    background: rgba(0, 0, 0, 0.6); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px #0ff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px; 
    margin: auto;
}

header p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(23, 63, 204);
    text-shadow: 0 0 20px rgb(234, 255, 0), 0 0 20px rgb(19, 201, 241);
    margin: 5px 0;
}

header h2 {
    font-size: 1.8rem;
    color: #0ff;
    text-shadow: 0 0 20px #f0f, 0 0 20px #0ff;
    margin: 5px 0;
}


header h5 {
    font-size: 1rem;
    font-family: cursive;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(119, 250, 83);
    margin: 0;
}

@media (max-width: 400px) {
    header {
        max-width: 90%;
        padding: 10px;
    }
    header h1 {
        font-size: 1.5rem;
    }
    header h5 {
        font-size: 0.9rem;
    }
}

.video-section video {
    width: 45%;
    border: 3px solid #f0f;
    border-radius: 10px;
    box-shadow: 0 0 20px #f0f;
    overflow: hidden;
    animation: flicker 1.5s infinite alternate;
}

.rules-section {
    margin-top: 20px;
    padding: 15px;
    background: rgba(20, 20, 20, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px #0ff;
    text-align: left; 
}

.rules-container {
    max-height: 250px; 
    overflow-y: auto; 
    padding: 10px;
    text-align:left; 
}

.rules-container ol {
    padding-left: 0; /* Removes extra padding */
    list-style-position: inside; /* Keeps numbers inside the box */
}

.rules-container li {
    padding: 4px 2px; /* Adds slight left padding */
    border-bottom: 1px solid #00f;
}

@media (max-width: 600px) {
    .rules-container {
        max-height: 200px; /* Adjusts height for smaller screens */
        overflow-y: auto; /* Ensures scrolling works */
    }
}

.continue-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(45deg, #0ff, #f0f);
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 15px #0ff;
    transition: 0.3s;
    text-align: center;
}

.continue-btn:hover {
    box-shadow: 0 0 25px rgb(101, 72, 246);
    transform: scale(1.1);
}
