* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body {
    background: #0d0d0d;
    color: #00ffcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    position: relative;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 0.4s ease-in-out;
}

.popup-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 25px #2ffcff;
    animation: fadeIn 0.5s ease-in-out;
    width: 400px;
    max-width: 90%;
}

.popup-box h2 {
    color: #fffb2c;
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 0 0 15px #ff0000;
}


.popup-box p {
    color: #24ffff;
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.popup-box button {
    background: linear-gradient(45deg, #ff00ff, #00ffcc);
    color: black;
    font-size: 1rem;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 15px #00ffcc;
    transition: 0.3s;
}

.popup-box button:hover {
    background: linear-gradient(45deg, #00ffcc, #ff00ff);
    box-shadow: 0px 0px 20px #ff00ff;
}


@keyframes fadeIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #ff00ff;
    text-shadow: 0px 0px 15px #ff00ff;
}

.container {
    background: rgba(0, 0, 0, 0.85);
    border: 2px solid #00ffcc;
    box-shadow: 0px 0px 15px #00ffcc;
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group, .player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input {
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border: 1px solid #00ffcc;
    border-radius: 5px;
    background: #e5fffc;
    color: #000000;
    outline: none;
}

input::placeholder {
    color: #524f4f;
}
button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: linear-gradient(45deg, #ff00ff, #00ffcc);
    border: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00ffcc;
    transition: 0.3s;
}

button:hover {
    background: linear-gradient(45deg, #00ffcc, #ff00ff);
    box-shadow: 0px 0px 15px #ff00ff;
} 